<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/newuser" method="post">
        
        <label for="nom">Username</label>
        <input type="text" name="username">
        
        <label for="email">Email :</label>
        <input type="email" name="email" id="email">

        <label for="password">Mot de passe</label>
        <input type="password" name="password">

        

        <input type="submit" value="Inscrivez-vous">
</body>
</html>